<h1 class="mt-3">My tasks</h1>
<div class="tasks-container justify-content-center mt-5">
  <% @tasks.each do |task| %>
    <%= link_to task_path(task) do %>
      <div class="card-product d-flex flex-column">
        <div class="card-product-infos">
          <h2> <%= task.title %> </h2>
          <p><%= task.details %> </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<a href="/task/new" class="btn-1 mt-4"><i class="fa-solid fa-plus"></i> New task</a>
