.btn-1 {
	color: black;
	border: 1px solid black;
	border-radius: 50px;
	padding: 10px 15px;
	opacity: 0.6;
}

.btn-1:hover {
	opacity: 1;
	text-decoration: none;
	/* color: #808080; */
  font-weight: bolder;
}

/* .btn-1:visited {
	color: #808080;
	border: 1px solid #808080;
	border-radius: 50px;
	padding: 10px 15px;
	font-weight: lighter;
	opacity: 0.6;
	text-decoration: none;
} */
